# ==========================
# Node.js
# ==========================
frontend/node_modules
frontend/dist

# ==========================
# Python
# ==========================
backend/venv
backend/__pycache__
backend/.pytest_cache
backend/.env

# ==========================
# Environment Variables
# ==========================
.env
*.env

# ==========================
# VS Code
# ==========================
.vscode/

# ==========================
# OS Files
# ==========================
.DS_Store
Thumbs.db

# ==========================
# Logs
# ==========================
*.log